<div id="post-<%= @post[:dir] %>" class="post">
  <h2><a title="<%= @post[:title] %>" rel="bookmark" class="update_title" href="/<%= @post[:dir] %>/"><%= @post[:title] %></a></h2>
   <%= @post[:body] %>
</div>
