<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <%= render :partial => "meta" %>
    <%= render :partial => "linkrel" %>
    <title>Blog</title>
  </head>
  <body>
    <div id="wrapper">
    <%= render :partial => "header" %>
<!-- ================================= Pagenav Start ===================================== -->
      <div class="pagenav">
        <% if @prev_page %>
          <a href="/updates-<%= @prev_page %>.html">Previous</a>
        <% else %>
          Previous
        <% end %>
        <% (1..@pages).each { |p| %>
          <% if @page = p %>
            <a class='curr_page' href="/blog-<%= p %>.html"><%= p %></a>
          <% else %>
            <a href="/updates-<%= p %>.html"><%= p %></a>
          <% end %>
        <% } %>
        <% if @next_page %>
          <a href="/updates-<%= @next_page %>.html">Next</a>
        <% else %>
          Next
        <% end %>
      </div>
<!-- ================================= Pagenav End ===================================== -->
      <div class='content'>
        <%= render :partial => "sidebar_left" %>
<!-- ================================= Posts Start ===================================== -->
        <div class='entries'>
          <% @content_info.keys.sort.reverse.each { |k| %>
            <% @post = @content_info[k] %>
            <%= render :partial => "blogpost" %>
          <% } %>
        </div>
<!-- ================================== Posts End ====================================== -->
        <%= render :partial => "sidebar_right" %>
      </div>
        <%= render :partial => "footer" %>
    </div>
  </body>
</html>
